<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Menu</h1>
    {% if menu %}
    <p class="menu"><strong>menu today:</strong> {{ menu }}
        {% endif %}
  <h2>edit menu</h2>
  <form method="post">
    <div class="form-group">
    <textarea class="form-control" id="ta-menu" rows="3" name="menu" placeholder="" value="{{
          request.form.order }}" ></textarea>
    </div>
    <input class="btn btn-success" type="submit" value="submit">
  </form>
    <br>
    <h1>list orders</h1>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Order</th>
    </tr>
  </thead>
  <tbody>
    {% for index, order in orders.iterrows(): %}
    <tr>
      <th scope="row">{{index}}</th>
      <td>{{order.fullname}}</td>
      <td>{{order.department}}</td>
      <td>{{order.order}}</td>
    {% endfor %}
    </tr>
  </tbody>
  <br>
  
</table>
</div>
</body>
</html>